<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% extends "layout.html" %}
{% block content %}
    <div class="clientlsit">

        {% for user in users %}
            <div class="card">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <p>{{ user.nome }} {{ user.cognome }}</p>


                    <p><a href="{{ url_for('profile', user_id=user.id) }}"> Profilo Utente</a>

                    <a href="{{ url_for('crea_scheda', user_id=user.id) }}"> Crea Scheda</a></p>


                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}

</body>
</html>